.color1{
    background-color: rgb(240, 229, 223);
}
.color2{
    background-color: rgb(53, 79, 82);
}
.color3{
    background-color: rgb(145, 164, 61);
}
.color4{
    background-color: rgb(181, 131, 141);
}
.txcl1{
    color:  rgb(240, 229, 223);
}
.txcl2{
    color: rgb(53, 79, 82);
}


.contenedor{
    gap: 20px;
    display: grid;
    background-color: rgb(145, 164, 61);
    color: rgb(53, 79, 82);

    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "header header"
                            "imgs main"
                            "footer footer";
}

.header{
    grid-area: header;
}

.imgs{
    padding: 20px;
    border-radius: 4px;
    grid-area: imgs;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
    .img1{
        align-self: center;
    }
        .iconcode{
            width: 200px;
            color: rgb(53, 79, 82);
            
        }
    .img2{
        align-self: flex-start;
    }
        .icontm{
            width: 200px;
            padding: 20px;
            margin: 10px;
        }

.main{
    padding: 20px;
    border-radius: 4px;
    text-align: justify;
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content:center ;
}
    .title{
        align-self: center;
        padding: 20px;
        font-weight: 600;
    }
    .prog{
        align-self: center;
        padding: 20px;
        font-weight: 400;
        font-size: large;
        max-width: 500px;
    }


.footer{
    grid-area: footer;
}

