.color1{
    background-color: rgb(240, 229, 223);
}
.color2{
    background-color: rgb(53, 79, 82);
}
.color3{
    background-color: rgb(145, 164, 61);
}
.color4{
    background-color: rgb(181, 131, 141);
}
.txcl1{
    color:  rgb(240, 229, 223);
}
.txcl2{
    color: rgb(53, 79, 82);
}


.titlecontacto{
    padding: 10px;
    margin-bottom: 50px;
    text-align: center;
}
.btn{
    padding: 10px 40px 10px 40px;
    color: rgb(33,79,82) ;
    background-color: rgb(145, 164, 61);
    border-color: rgb(145, 164, 61);
}