.color1{
    background-color: rgb(240, 229, 223);
}
.color2{
    background-color: rgb(53, 79, 82);
}
.color3{
    background-color: rgb(145, 164, 61);
}
.color4{
    background-color: rgb(181, 131, 141);
}
.txcl1{
    color:  rgb(240, 229, 223);
}
.txcl2{
    color: rgb(53, 79, 82);
}

/*HOJA 1*/

.saludo{
    color: rgb(53, 79, 82);
    padding-top: 40px;
    padding-left: 30px;
    padding-bottom: 60px;
    padding-right: auto;
    margin-bottom: 60px;
}
.boton-contacto{
    color: rgb(240, 229, 223);
    background-color: rgb(53, 79, 82);
    border-color: rgb(33,79,82);
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-top: 70px;
    
}
.web-dev{
    color: rgb(53, 79, 82);
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    margin-top: 200px;
    margin-right: 10px;
    margin-bottom: 40px;
    
}
.txt{
    font-weight: 600;
    font-size: larger;
}


.bio{
    color: rgb(53, 79, 82);
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    margin-top: 50px;
}
.foto-biol{
    /* margin-left: 120px;
    padding: 10px; */
    margin-left: auto;
    padding: 10px;
    background-color: rgb(145, 164, 61);
}
.img-wd{
    /* margin-bottom: 50px;
    margin-left: 20px; */
    margin-bottom: auto;
    margin-left: auto;
    padding: 10px;
    background-color: rgb(181,131,141);
}

.anim{
    width: 375px;
    height: auto;
    margin: 5px;
    transition: width, height 1s;
}
.anim:hover{
    color: rgb(53, 79, 82);
    width: 600px;
}

.anim2{
    width: 400px;
    height: auto;
    margin: 5px;
    transition: width, height 1s;
}
.anim2:hover{
    color: rgb(53, 79, 82);
    width: 600px;
}



/* HOJA 2 */
.titlesm{
    padding: 10px;
    margin: 100px auto 30px 100px;
}
.parsm{
    padding: 10px 10px 230px 10px;
    margin: 20px 70px 60px 100px;
    text-align: justify;
}
.iconar{
    margin: 130px 200px 70px 300px;
}
.iconlp{
    margin: 30px 30px 70px 130px;
}
.icontz{
    margin: 30px 200px 70px 300px;
}
/*HOJA 3*/
.titleds{
    padding: 10px;
    margin: 100px 100px 30px auto;
}
.pards{
    padding: 10px 10px 230px 10px;
    margin: 20px 100px 60px 130px;
    text-align: justify;
}
.iconcode{
    padding: 10px;
    margin:200px auto 30px 100px;
}
.icontm{
padding: 10px;
margin: 20px 70px 60px 300px;
}
/*HOJA 4*/
.titlebio{
    padding: 10px;
    margin: 100px auto 30px 100px;
}
.parbio{
    padding: 10px 10px 200px 10px;
    margin: 20px 70px 60px 100px;
    text-align: justify;
}

.titlecontacto{
    padding: 10px;
    margin-bottom: 50px;
    text-align: center;
}
.btn{
    padding: 10px 40px 10px 40px;
    color: rgb(33,79,82) ;
    background-color: rgb(145, 164, 61);
    border-color: rgb(145, 164, 61);
}